In [5]:
import pandas as pd

In [6]:
movies=pd.read_csv(r'Book1.csv')

In [7]:
movies

,ID,NAME,INDUSTRY,GENRE,LANGUAGE,RATING,DURATION,Unnamed: 7
0,1,Bahubali,Tollywood,Action,Telugu,9.5,170,NaN
1,2,Brahmastra,Bollywood,Mystereous,Hindi,5.0,180,NaN
2,3,Uri,Bollywood,Action,Hindi,10.0,120,NaN
3,4,DDLJ,Bollywood,Romantic,Hindi,10.0,150,NaN
4,5,Avengers,Hollywood,Action,English,9.0,180,NaN
5,6,Tenet,Hollywood,Scifi,English,6.5,150,NaN
6,7,Major,Bollywood,Action,English,7.0,190,NaN
7,8,Interstaller,Hollywood,Scifi,English,7.0,190,NaN
8,9,Gravity,Hollywood,Scifi,English,6.0,130,NaN
9,10,Titanic,Hollywood,Drama,English,9.0,150,NaN
10,11,Sabrina,Hollywood,Horror,English,5.0,170,NaN
11,12,HouseFull,Bollywood,Comedy,Hindi,9.0,150,NaN
12,13,The Dictator,Hollywood,Comedy,English,7.0,120,NaN
13,14,Hera Pheri,Bollywood,Comedy,Hindi,9.0,140,NaN
14,15,Sholay,Bollywood,Drama,Hindi,8.5,150,NaN

In [9]:
movies['DURATION'].argmax()

6

1. find the longest movie name

In [11]:
movies['NAME'][movies['DURATION'].argmax()]

'Major'

2.number of movie of 10 star rating

In [12]:
sum(movies['RATING']==10)

2

3. how many industries are there

In [13]:
movies['INDUSTRY'].value_counts().count()

3

In [14]:
len(movies['INDUSTRY'].value_counts())

3

In [16]:
movies['INDUSTRY'].nunique()

3

4. find least liked comedy movie

In [19]:
movies[movies['GENRE']=='Comedy']

    ID          NAME   INDUSTRY   GENRE LANGUAGE  RATING  DURATION  Unnamed: 7
11  12     HouseFull  Bollywood  Comedy    Hindi     9.0       150         NaN
12  13  The Dictator  Hollywood  Comedy  English     7.0       120         NaN
13  14    Hera Pheri  Bollywood  Comedy    Hindi     9.0       140         NaN

In [22]:
movies['NAME'][movies[movies['GENRE']=='Comedy']['RATING'].idxmin()]

'The Dictator'

5. longest movie name

In [24]:
movies['NAME'][movies[movies['LANGUAGE']=='English']['DURATION'].idxmax()]

'Major'